@import url(../pdf_viewer.css);
:root {
    /* 新增 */
    --toolbarButton-lineAnnotation-icon: url(../images/toolbarButton-lineAnnotation.svg);
}

.toolbarButton#lineAnnotation::before {
    -webkit-mask-image: var(--toolbarButton-lineAnnotation-icon);
    mask-image: var(--toolbarButton-lineAnnotation-icon);
}

.annotationCanvas{
	width: "";
	height: "";
	/*background-color: rgb(41, 29, 214);*/
	opacity: 1;
	z-index: 0px;
	position: absolute;
}